<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- <link rel="stylesheet" href="{{baseUrl}}/css/default.css"> -->
		<style>
		{% include "../../build/css/" + stylesheet %}
		</style>
		<!-- <script src="{{baseUrl}}/js/vendor/modernizr-2.6.2.min.js"></script> -->
	</head>
	<body class="markdown-body">
		{{content|safe}}

		<!-- <script src="{{baseUrl}}/js/vendor/jquery-1.10.2.min.js"></script>
		<script src="{{baseUrl}}/js/plugins.js"></script>
		<script src="{{baseUrl}}/js/main.js"></script> -->
	</body>
</html>
